<nav id="sidebar" class="">
    <div class="sidebar-header">
        <img height="38px" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png">
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Components</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a [routerLink]="['/components']">Component Binding</a>
                </li>
                <li>
                    <a [routerLink]="['/components/example2']">Component List Binding </a>
                </li>

                <li>
                    <a [routerLink]="['/components/example4']">Component Form Binding</a>
                </li>
                <li>
                    <a [routerLink]="['/components/example5']">Component FormGroup Binding</a>
                </li>
            </ul>
        </li>
        <li>

            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Stylings & Pipes</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a [routerLink]="['/stylings']">Class Binding </a>
                </li>
                <li>
                    <a href="#">Style Binding </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">

        <li>
            <a href="#" class="article">Back</a>
        </li>
    </ul>
</nav>